*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    font-family: 'VT323', monospace;
}

@media screen and (min-width: 450px){
    
    .type-container{
        width: 5vw;; 
    }

    .type-img{
        width: 3vw;
        height: 3vw;

    }

    .hero-icons{
        max-width: 5vw;
    }

    .row{
        display: flex;
        justify-content: center;

    }

    #logo{
        max-width: 20vw;
    }
}
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-icons{
    display: flex;
    justify-content: space-evenly;
    width: 50vw;    
}               

.hero-icons{
    height: 10vh;

}

#logo{
    width: 40vw;
}

.type-img{
    max-width: 10vw;
    max-height: 10vh;

}

.type-text{
    min-width: 15vw;
    font-size: 1em;
}

.type-container{
    text-align: center;
    margin: 10px 5px;
}

.type-img{
    padding: 3px;
}

.type-img:hover{
    padding: 0;
    border: 3px solid #bebebe;
    border-radius: 50%;
}

.type-img:active{
    filter:brightness(50%)
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

#output{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#suggested-pokemon-container{
    display: flex;
}

#suggested-pokemon-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    max-width: 10vw;
    margin: 5px 10px;
}

h1{
    font-size: 2em;
    margin: 10px;
}